.webAnalyzeImagesItem {
  @include flex($direction: column, $gap: 16px);
  background-color: var(--color-bg-secondary);
  border-radius: 8px;
  padding: 8px;
  position: relative;
  &_header {
    @include flex($x: space-between, $y: center, $gap: 16px);
    &Icons {
      @include flex($x: flex-end, $y: center, $gap: 2px);
      svg {
        cursor: pointer;
      }
    }
    p {
      @include textTruncate;
      font-size: 0.8rem;
    }
    span {
      background-color: var(--color-info);
      color: var(--color-info-contrast);
      border-radius: 8px;
      padding: 4px 8px;
      text-align: center;
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
  img {
    width: 100%;
    border-radius: 8px;
  }
  &_button {
    font-size: 1rem;
    border-radius: 8px;
  }
  a {
    background-color: var(--color-success);
    color: var(--color-success-contrast);
    width: 100%;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    @include animationButton;
  }
}
