@mixin square($size){
  width: #{$size};
  height: #{$size};
}

@mixin rectangle($sizeW, $sizeH){
  width: #{$sizeW};
  height: #{$sizeH};
}

@mixin circle($size){
  @include square($size);
  border-radius: 50%;
}
