$colors-theme: (
  primary: #a29bfe,
  primary-contrast: #222,
  secondary: #e96479,
  secondary-contrast: #222,
  tertiary: #55efc4,
  tertiary-contrast: #222,

  dark: #111,
  light: #fff,

  danger: #ee5253,
  danger-contrast: #fff,
  info: #54a0ff,
  info-contrast: #111,
  success: #08ab9f,
  success-contrast: #111,
  warning: #ff9f43,
  warning-contrast: #222,

  bg: #111,
  bg-contrast: #f9f9f9,
  bg-secondary: #171717,
  bg-secondary-contrast: #f9f9f9,
  bg-tertiary: #333,
  bg-tertiary-contrast: #f9f9f9,
  
  // bg: #fefefe,
  // bg-contrast: #171717,
  // bg-secondary: #f6f6f6,
  // bg-secondary-contrast: #171717,
  // bg-tertiary: #333,
  // bg-tertiary-contrast: #f9f9f9,
);
