.header {
  @include positionFixed($top: 0, $left: 0, $zIndex: 99);
  @include flex($x: center, $y: center);

  width: 100%;
  backdrop-filter: blur(8px);
  height: var(--app-header-height);
  
  &_content {
    width: 100%;
    @include flex($x: space-between, $y: center);
    max-width: 1400px;
    padding: 16px 8px;
  }

  &_left,
  &_right {
    @include flex($y: center);
    flex: 1;
  }

  &_right {
    justify-content: flex-end;
    padding-right: 8px;
  }

  &_logo {
    width: 100px;
  }

}