@import './reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');

:root {
  @each $keyColor, $valueColor in $colors-theme {
    --color-#{$keyColor}: #{$valueColor};
  }
  --app-header-height: 72px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: var(--color-bg);
  &-thumb {
    border-radius: 8px;
    @include transition;
    background-color: var(--color-tertiary);
    &:active {
      background-color: var(--color-primary);
    }
  }
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-bg-contrast);
  font-family: 'Poppins', sans-serif;
}
